.clase-li {
  background-color: #456;
  padding: 10px 15px;
  color: #fff;
  width: 50%;
  margin: 16px auto;
  list-style: none;
  border-radius: 10px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
}

.clase-css {
  background-color: #478;
  padding: 10px 15px;
  margin: 16px auto;
  width: 50%;
  border-radius: 10px;
}